version: '3.7'

services:
  app:
    container_name: frontend
    image: flukgoza/team-7-frontend:1.1
    restart: always
    build: ./project_dev-tools_frontend
    ports: ['1150:1150']
  back:
    # depends_on:
    #   - mongodb
    container_name: team-7-backend
    image: flukgoza/team-7-backend:1.1
    restart: always
    build: ./project_dev-tools_server
    ports: ['3000:3000']
  
    # environment:
    #   - DB_HOST=mongodb
    #   - DB_USER=admin
    #   - DB_PASSWORD=admin
    #   - DB_NAME=traderrecord
    #   - DB_PORT=27017
    # stdin_open: true
    # tty: true
#   mongodb:
#     image: mongo:5.0.2
#     restart: unless-stopped
    
#     environment:
#       - MONGO_INITDB_ROOT_USERNAME=admin
#       - MONGO_INITDB_ROOT_PASSWORD=admin
#     ports:
#       - 27017:27017
#     volumes:
#       - db:/data/db
# volumes:
#   db:
